@use "sass:math";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@500;700&display=swap');

$blue-400: hsl(180, 66%, 49%);
$Purple-950: hsl(257, 27%, 26%);
$Red-400: hsl(0, 87%, 67%);

$Gray-400: hsl(0, 0%, 75%);
$Gray-500: hsl(257, 7%, 63%);
$Gray-900: hsl(255, 11%, 22%);
$Gray-950: hsl(260, 8%, 14%);

$base-font-size: 18px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: $base-font-size;
    font-family: "Poppins",sans-serif;
}

h1,h2,h3{
    font-weight: 700;
}

p{
    font-weight:500;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 4rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
 
  .nav-left{
    display: flex;
    align-items: center;
    gap: 20px;
  }
   .nav-left p{
    color: $Gray-500;
    cursor: pointer;
  }
    .nav-left p:hover{
    color: $Gray-950;
 }
  .nav-right{
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .nav-right a{
    text-decoration: none;
  }
  .nav-right .login a{
    color: $Gray-500;
  }
  .nav-right .login a:hover{
    color: $Gray-950;
  }

  .nav-right .sign-up{
    background-image: linear-gradient(to right, $blue-400, $Purple-950);
    padding: 5px 20px;
    border-radius: 20px;
  }
  .nav-right .sign-up:hover{
    opacity: 0.7;
  }
  .nav-right .sign-up a{
    color: white;
  }
}

.article-flex{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 2rem;

    .article-text{
        flex: 1;
    }

    .article-text h1{
        font-size: $base-font-size * 3;
    }

    .article-text p{
        color: $Gray-400;
        padding-bottom: 2rem;
    }

    .article-text button{
        background-image: linear-gradient(to right, $blue-400, $Purple-950);
        padding: 12px 40px;
        border-radius: 30px;
        border: none;
        color: white;
        font-size: $base-font-size;
    }
    .article-text button:hover{
        opacity: 0.7;
    }

    .article-logo{
        flex: 1.2;
    }
    .article-logo img{
        width: 100%;
    }
}

//fix backround with background-position: center
.input-img{
  background-image: url(/images/bg-shorten-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $Purple-950;
  height: 150px;
  gap: 20px;
  border-radius: 10px;
 
.input{
  flex: 1;
}
 .input input{
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: none;
    font-size: $base-font-size;
  }

  .input-btn button{
    background-image: linear-gradient(to right,$blue-400,$Purple-950);
    color: white;
    padding: 20px 40px;
    border-radius: 10px;
    border: none;
    font-size: $base-font-size;
    cursor: pointer;
  }
  .input-btn button:hover{
      opacity: 0.7;
  }

}
.input-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 3rem;
  }

.advanced-text{
  text-align: center;
  margin: 0 auto;
  max-width: 720px;
  padding: 4rem 4rem;

  h2{
    font-size: $base-font-size * 2;
    padding-bottom: 1rem;
  }
  p{
    color: $Gray-500;
  }
}

.bcg-color{
  background-color: $Gray-400;
}

.cards{
  display: flex;
  gap: 40px;
  padding-bottom: 4rem;
  .card-box{
    background-color: white;
    padding: 0px 40px;
    padding-bottom: 40px;
    border-radius: 10px;
  }
  .card-images{
    transform: translateY(-50%);
    background-color: $Purple-950;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
}