@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

h1, h2, h3 {
  font-weight: 700;
}

p {
  font-weight: 500;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 4rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
nav .nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}
nav .nav-left p {
  color: hsl(257, 7%, 63%);
  cursor: pointer;
}
nav .nav-left p:hover {
  color: hsl(260, 8%, 14%);
}
nav .nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
nav .nav-right a {
  text-decoration: none;
}
nav .nav-right .login a {
  color: hsl(257, 7%, 63%);
}
nav .nav-right .login a:hover {
  color: hsl(260, 8%, 14%);
}
nav .nav-right .sign-up {
  background-image: linear-gradient(to right, hsl(180, 66%, 49%), hsl(257, 27%, 26%));
  padding: 5px 20px;
  border-radius: 20px;
}
nav .nav-right .sign-up:hover {
  opacity: 0.7;
}
nav .nav-right .sign-up a {
  color: white;
}

.article-flex {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 2rem;
}
.article-flex .article-text {
  flex: 1;
}
.article-flex .article-text h1 {
  font-size: 54px;
}
.article-flex .article-text p {
  color: hsl(0, 0%, 75%);
  padding-bottom: 2rem;
}
.article-flex .article-text button {
  background-image: linear-gradient(to right, hsl(180, 66%, 49%), hsl(257, 27%, 26%));
  padding: 12px 40px;
  border-radius: 30px;
  border: none;
  color: white;
  font-size: 18px;
}
.article-flex .article-text button:hover {
  opacity: 0.7;
}
.article-flex .article-logo {
  flex: 1.2;
}
.article-flex .article-logo img {
  width: 100%;
}

.input-pos {
  transform: translateY(50%);
}

.input-img {
  background-image: url(/images/bg-shorten-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: hsl(257, 27%, 26%);
  height: 150px;
  gap: 20px;
  border-radius: 10px;
}
.input-img .input {
  flex: 1;
}
.input-img .input input {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
}
.input-img .input-btn button {
  background-image: linear-gradient(to right, hsl(180, 66%, 49%), hsl(257, 27%, 26%));
  color: white;
  padding: 20px 40px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.input-img .input-btn button:hover {
  opacity: 0.7;
}

.input-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 3rem;
}

.advanced-text {
  text-align: center;
  margin: 0 auto;
  max-width: 720px;
  padding: 10rem 4rem 8rem 4rem;
}
.advanced-text h2 {
  font-size: 36px;
  padding-bottom: 1rem;
}
.advanced-text p {
  color: hsl(257, 7%, 63%);
}

.bcg-color {
  background-color: hsl(0, 0%, 75%);
}

.cards {
  display: flex;
  gap: 40px;
  padding-bottom: 4rem;
}
.cards .card-box {
  background-color: white;
  padding: 0px 40px;
  padding-bottom: 40px;
  border-radius: 10px;
}
.cards .card-images {
  transform: translateY(-50%);
  background-color: hsl(257, 27%, 26%);
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}/*# sourceMappingURL=style.css.map */